<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.seohyang.book.Sign_upDTO" alias="signDTO"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/sign_upMapper.xml"/>
	</mappers>
</configuration>
